body {
  background-color: rgb(87, 87, 87);
}

.frame_pic{
  border-radius: 50%;
  border: 2px solid rgb(17, 17, 17);
  padding: 5px;
  width: 150px;
  height: 150px;
}

.frame_name{
  background-image: url(sky.png);
  mask-image: url();
}